In [2]:
#Dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pprint import pprint

In [22]:
#list of tv show titles to query
tv_shows = ["Altered Carbon", "Grey's Anatomy", "This is Us", "The Flash", "Vikings", "Shameless", "Arrow", "Peaky Blinders", "Dirk Gently"]

# make iterative requests to TVmaze search endpoint
responses_list = list()
ratings = list()

for x in range(len(tv_shows)):
    url = "http://api.tvmaze.com/search/shows?q=" + tv_shows[x]
    responses_list.append(requests.get(url))
    ratings.append( (( responses_list[x].json() )[0] ).get("show").get("rating").get("average") )
    
print(f"responses_list: {len(responses_list)} & ratings: {len(ratingsDict)}")

responses_list: 9 & ratings: 9

In [26]:
# create dataframe
showData = { "Show Name": tv_shows, "Avg. Rating": ratings }
    
show_df = pd.DataFrame(showData)

show_df

        Show Name  Avg. Rating
0  Altered Carbon          8.1
1  Grey's Anatomy          8.3
2      This is Us          8.3
3       The Flash          8.1
4         Vikings          8.8
5       Shameless          8.7
6           Arrow          7.5
7  Peaky Blinders          9.0
8     Dirk Gently          7.2

In [4]:
# use matplotlib to create a bar chart from the dataframe